@import url("../../../../../core/components/com_users/site/assets/css/login.css");

#content.com_users .auth:before,
#content.com_users .auth:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.auth .bootstrap-select {
	white-space: normal;
	position: static;
}
.auth .bootstrap-select .btn-default {
	position: absolute;
	top: 9px;
	left: 45px;
}
